* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,
body {
    height: 100%;
    width: 100%;

}
div{
    min-width: 200px;
    max-width: 400px;
    min-height: 200px;
    max-height: 400px;
    background-color: rgb(58, 68, 38);
}